In [1]:
import pandas as pd

In [4]:
df_ant_cd = pd.read_csv('malawi/mwi_anthropometry_codebook.csv')
df_ant = pd.read_csv('malawi/mwi_anthropometry.csv')
df_nut_cd = pd.read_csv('malawi/mwi_nutrition_codebook.csv')
df_nut = pd.read_csv('malawi/mwi_nutrition.csv')

In [6]:
df_ant_cd

   varCode                          varLabel         unit
0     hhid                      Household ID           id
1      pid                     Individual ID           id
2      sex                Is male or female?  categorical
3    haz06     Length/height-for-age Z-score      z-score
4    waz06            Weight-for-age Z-score      z-score
5    whz06  Weight-for-length/height Z-score      z-score
6   bmiz06               BMI-for-age Z-score      z-score
7     wa_m   Child is underweight (moderate)  categorical
8     wa_s     Child is underweight (severe)  categorical
9     ha_m       Child is stunted (moderate)  categorical
10    ha_s         Child is stunted (severe)  categorical
11    wh_m        Child is wasted (moderate)  categorical
12    wh_s          Child is wasted (severe)  categorical

In [7]:
df_ant

,hhid,pid,sex,haz06,waz06,whz06,bmiz06,wa_m,wa_s,ha_m,ha_s,wh_m,wh_s
0,2081111302,9,Female,-2.08,-1.43,-0.59,-0.25,0,0,1,0,0,0
1,2081111371,5,Male,-2.51,-1.56,-0.17,0.19,0,0,1,0,0,0
2,2081111373,7,Male,-2.94,-0.74,1.50,1.88,0,0,1,0,0,0
3,2081111373,8,Male,-2.13,-1.44,-0.29,-0.24,0,0,1,0,0,0
4,2081111401,6,Female,-4.77,-2.91,0.32,0.62,1,0,1,1,0,0
5,2081111403,5,Female,-3.33,-0.96,1.57,1.73,0,0,1,1,0,0
6,2081111403,6,Female,-3.09,-0.76,1.48,1.82,0,0,1,1,0,0
7,2081111403,7,Male,-0.79,-0.32,0.19,0.20,0,0,0,0,0,0
8,2081111452,4,Female,-1.31,-0.42,0.60,0.56,0,0,0,0,0,0
9,2081111452,5,Female,0.05,0.83,1.01,1.10,0,0,0,0,0,0
10,2081111454,4,Female,-2.47,-1.92,-0.65,-0.43,0,0,1,0,0,0
11,2081111454,5,Male,-1.19,-1.53,-1.04,-1.13,0,0,0,0,0,0
12,2081111455,6,Female,0.09,0.72,0.86,0.92,0,0,0,0,0,0
13,2081111460,7,Female,-1.54,-0.05,0.99,1.24,0,0,0,0,0,0
14,2081111465,10,Female,-2.61,-1.61,-0.10,0.17,0,0,1,0,0,0
15,2081111466,7,Female,-0.82,-1.88,-2.08,-2.11,0,0,0,0,1,0
16,2081111467,6,Male,0.79,0.74,0.43,0.41,0,0,0,0,0,0
17,2081111468,4,Male,-2.44,-0.55,1.16,1.54,0,0,1,0,0,0
18,2081111472,4,Female,-1.45,NaN,NaN,NaN,0,0,0,0,0,0
19,2081111472,5,Female,-0.69,0.46,1.25,1.14,0,0,0,0,0,0
20,2081112300,6,Male,-5.11,-1.91,1.94,2.58,0,0,1,1,0,0
21,2081112301,6,Male,-0.77,0.00,0.67,0.61,0,0,0,0,0,0
22,2081112303,3,Female,-1.25,-0.32,0.72,0.63,0,0,0,0,0,0
23,2081112318,6,Male,-3.26,-2.24,-0.51,-0.03,1,0,1,1,0,0
24,2081112318,7,Male,-1.40,-1.65,-0.94,-1.15,0,0,0,0,0,0
25,2081112403,5,Male,-0.56,1.15,2.13,2.21,0,0,0,0,0,0
26,2081112404,6,Female,-3.60,-1.89,0.57,0.72,0,0,1,1,0,0
27,2081112404,7,Male,-1.09,-2.56,-2.80,-2.74,1,0,0,0,1,0
28,2081112408,5,Male,-7.06,0.34,6.95,9.27,0,0,0,0,0,0
29,2081112417,4,Female,-3.55,-2.33,-0.15,0.09,1,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
516,2094558113,3,Female,0.11,-0.33,-0.53,-0.54,0,0,0,0,0,0
517,2094558115,6,Male,-3.25,-1.03,1.32,1.78,0,0,1,1,0,0
518,2094558117,3,Female,-2.71,-2.30,-1.29,-0.87,1,0,1,0,0,0
519,2094558119,5,Female,-2.70,-0.67,0.93,1.42,0,0,1,0,0,0
520,2094558122,5,Female,-1.42,-1.09,-0.24,-0.37,0,0,0,0,0,0
521,2094559100,8,Female,-13.20,-2.46,NaN,19.85,1,0,0,0,0,0
522,2094559103,3,Female,0.04,0.17,0.14,0.18,0,0,0,0,0,0
523,2094559103,4,Female,-1.01,-0.50,0.07,0.17,0,0,0,0,0,0
524,2094559103,5,Female,-1.10,-0.32,0.35,0.51,0,0,0,0,0,0
525,2094559106,4,Male,-0.66,-0.83,-0.67,-0.60,0,0,0,0,0,0
526,2094559108,6,Male,-1.70,-1.13,-0.14,-0.03,0,0,0,0,0,0
527,2094559108,7,Male,-0.85,0.71,1.44,1.65,0,0,0,0,0,0
528,2094559109,4,Male,-0.54,-2.31,-2.84,-2.95,1,0,0,0,1,0
529,2094559110,5,Female,-1.25,-0.17,0.82,0.89,0,0,0,0,0,0
530,2094559110,6,Male,-2.52,-0.06,1.75,1.91,0,0,1,0,0,0
531,2094559111,7,Female,-1.35,-1.93,-1.67,-1.61,0,0,0,0,0,0
532,2094559113,4,Male,-2.11,-0.76,0.76,0.97,0,0,1,0,0,0
533,2094559113,5,Male,0.80,0.62,0.34,0.23,0,0,0,0,0,0
534,2094559115,3,Male,-2.20,-1.99,-1.02,-0.80,0,0,1,0,0,0
535,2094559115,4,Female,-0.59,1.10,1.83,1.94,0,0,0,0,0,0
536,2094559117,9,Male,-1.93,-0.75,0.31,0.67,0,0,0,0,0,0
537,2094560102,5,Female,-1.47,-0.91,0.00,0.00,0,0,0,0,0,0
538,2094560103,3,Female,-0.31,0.07,0.29,0.33,0,0,0,0,0,0
539,2094560105,3,Male,-3.09,-1.97,-0.62,0.01,0,0,1,1,0,0
540,2094560112,3,Male,-2.36,-1.68,-0.80,-0.33,0,0,1,0,0,0
541,2094560116,4,Male,-1.60,-1.47,-0.78,-0.64,0,0,0,0,0,0
542,2094560116,5,Female,-1.21,-1.15,-0.80,-0.61,0,0,0,0,0,0
543,2094560119,8,Female,-1.61,-0.62,0.17,0.43,0,0,0,0,0,0
544,2094560120,8,Male,-3.71,-1.71,0.24,1.04,0,0,1,1,0,0
545,2094560121,7,Female,-2.33,-1.46,-0.36,-0.10,0,0,1,0,0,0